<%= form_for(@pinx) do |f| %>
  <% if @pinx.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pinx.errors.count, "error") %> prohibited this pinx from being saved:</h2>

      <ul>
      <% @pinx.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
