<p id="notice"><%= notice %></p>

<h1>Listing Pinxes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3">User</th>
    </tr>
  </thead>

  <tbody>
    <% @pinxes.each do |pinx| %>
      <tr>
        <td><%= pinx.description %></td>
        <td><%= pinx.user.email if pinx.user %></td>
        <td><%= link_to 'Show', pinx %></td>
        <td><%= link_to 'Edit', edit_pinx_path(pinx) %></td>
        <td><%= link_to 'Destroy', pinx, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pinx', new_pinx_path %>
